.header-top{
    display:flex;
}
.bg{
    height: 400px;
    background: radial-gradient(40% 50%, #FAECD5, #e7b084);
}
.header-text{
    flex-grow: 1;
    display:flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 185, 22);
    text-shadow: 2px 4px 5px #452102;
    transform: rotate(-10deg);
    font-family: airport;
    font-size: xx-large;
}
.header-logo img{
    width: 15vw;
    height: auto;
}
.line{
    display:flex;
}
.line-content{
    margin: 0 10px;
    padding: 10px;
    border: 2px #ba6b0a solid;
    border-radius: 10px;
    box-shadow: 3px 3px 3px rgb(139, 99, 74);
    background-color: #f5bc8a;
    font-family: nothehe;
}
.line-nav ul{
    list-style: none;
    margin: 0px;
    padding: 0px;
}
.line-nav ul li{
    background: linear-gradient(75deg, #ffe7c0, #f5bc8a );
    border: 1px solid #ba6b0a;
    border-radius: 3px;
    margin-bottom: 10px;
    padding: 5px;
    text-align: center;
    font-family: nothehe;
}
.footer{
    margin-top: 20px;
    font-family: nothehe;
    opacity: 50%;
}
@font-face {
    font-family: airport;
    src: url(../font/Airport.ttf);
}

@font-face {
    font-family: nothehe;
    src: url(../font/OKScU8ig.ttf);
}